# OS junk
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Data (keep small CSVs you already have)
# data/raw/
# data/interim/

# Cache
.cache/
project/.cache/